.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.header h1 {
  position: absolute;
  display: flex;
  color: black;
  margin-left: -70pc;
  font-size: 35px;
}
.header a {
  text-decoration: none;
}
.header-nav a {
  position: absolute;
  display: flex;
  color: rgb(5, 4, 4);
  margin-left: -33pc;
  font-size: 35px;
}

